/* Styles applied to the entire App */
body {
    background-color: white;
    font-family: Arial, sans-serif;
}

/* Styles for the Login component */
.login-container {
    width: 300px;
    margin: 100px auto;
    padding: 20px;
    background-color: #e4e4e4;
    border-radius: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    position: relative;
    height: 310px;
}

.login-container h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.login-input {
    width: 60%;
    padding: 10px;
    margin: 10px 0;
    box-sizing: border-box;
    border-radius: 12px;
    border: none;
    height: 45px;
    background-color: rgb(212, 216, 243);
    font-size: 18px;
}

.login-input::placeholder {
    color: black;
}

.login-button {
    width: 60%;
    height: 45px;
    background-color: #637ABF;
    color: white;
    cursor: pointer;
    font-weight: bold;
    font-size: 19px;
    margin: 10px 0;
    border-radius: 12px;
    border: none;
}

.login-button:hover {
    background-color: rgb(132, 129, 137);
}

.error-message {
    color: red;
    font-size: 10px;
    margin-top: 10px;
}

/* Styles for the ForgotPasswordLink component */
.forgot-password {
    font-size: 15px;
    color: black;
}

.forgot-password a {
    color: black;
}

/* Styles for the Separator component */
.separator {
    width: 90%;
    height: 0.5px;
    background-color: black;
    margin: 10px auto;
}

/* Styles for the CloseButton component */
.close-btn {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 24px;
    height: 24px;
    background-color: rgb(104, 103, 103);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.close-btn::before,
.close-btn::after {
    content: '';
    position: absolute;
    width: 3px;
    height: 15px;
    background-color: white;
}

.close-btn::before {
    transform: rotate(45deg);
}

.close-btn::after {
    transform: rotate(-45deg);
}