 .body {
     height: 100%;
     margin: 0;
     font-family: Arial, sans-serif;
 }

 .container {
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     width: 80%;
     max-width: 800px;
     height: 50%;
     padding: 20px;
     box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
     background-color: white;
     overflow-y: auto;
 }

 .dropdown {
     display: flex;
     align-items: center;
     justify-content: space-between;
     margin-bottom: 20px;
 }

 .dropdown label {
     margin-right: 10px;
 }

 .dropdown select {
     padding: 5px;
 }

 .dropdown button {
     padding: 5px 10px;
 }

 .semester {
     margin-bottom: 20px;
 }

 .semester h2 {
     margin-bottom: 10px;
 }

 .courses {
     display: flex;
     justify-content: space-between;
 }

 .major,
 .non-major {
     width: 48%;
 }

 .major h3,
 .non-major h3 {
     margin-bottom: 10px;
 }

 .major ul,
 .non-major ul {
     list-style-type: none;
     padding: 0;
     margin: 0;
 }

 .major li,
 .non-major li {
     background-color: #f9f9f9;
     padding: 10px;
     margin-bottom: 5px;
     border: 1px solid #ddd;
 }

 .major p,
 .non-major p {
     background-color: #f9f9f9;
     padding: 10px;
     border: 1px solid #ddd;
 }