
.body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    text-align: center;
}
/* 중간 --------------------- */
.mainContent {
    flex: 1;
    padding: 10px;
    display: flex;
    flex-direction: column;
    margin-left: -20px;
}

.navbar,
.subNavbar {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.navbar button {
    padding: 10px;
    border: 1px solid rgb(104, 103, 103);
    cursor: pointer;
    background-color: rgb(212, 216, 243);
    border-radius: 15px 15px;
    font-weight: bold;
    font-size: 15px;
    color: rgb(104, 103, 103);
    margin: 0 10px;
    width: 150px;
}

.navbar button.application {
    background: #637ABF;
    color: white;
}

.subNavbar button {
    padding: 0px 130px;
    width:360px;
    height: 40px;
    border: 1px solid rgb(104, 103, 103);
    cursor: pointer;
    background-color: rgb(212, 216, 243);
    border-radius: 10px 10px;
    font-weight: bold;
    font-size: 15px;
    color: rgb(104, 103, 103);
    margin: 0px -10px;
}

.subNavbar button.selected {
    background-color: #637ABF;
    /* 파란색 배경 */
    color: white;
    /* 하얀색 글자 */
    transform: translateY(-1px);
    /* 앞으로 튀어나오게  */
}

.subNavbar button:last-child {
    margin-right: 0;
}



/*-----------*/

.table {
    width: 100%;
    max-width: 1200px;
    /* 가로로 더 넓게 변경 */
    border-collapse: collapse;
    margin-top: 20px;
    /* 위치를 "전체 공지사항" "FAQ" 버튼 바로 밑으로 변경 */
}

th,
td {
    border-top: none;
    border-bottom: 1px solid black;
    padding: 16px;
    text-align: center;
    background-color: white;
    /* 테두리와 색상을 하얗게 변경 */
}

th {
    font-weight: bold;
    border-bottom: 1.5px solid rgb(41, 41, 41);
        /* 제목 아래 선을 굵게 변경 */
}

tr:last-child td {
    border-bottom: 1.5px solid rgb(41, 41, 41);
    /* 테이블에서 마지막 선 굵게 변경 */
}



tr:hover {
    background-color: #ddd;
}




/*밑에 페이지네이션*/
.pagination {
    display: flex;
    justify-content: center;
    margin-top: 10px;

}

.pagination button {
    background-color: transparent;
    border: none;
    color: gray;
 
    padding: 8px 16px;
    text-decoration: none;
    cursor: pointer;
    margin-top: 20px;
    font-size: 16px;
}

.pagination button.active {
    font-weight: bold;
    color: black;
}

.pagination button:hover:not(.active) {
    text-decoration: underline;
}

.pagination .separator {
    color: black;
    padding: 8px 0;
    font-size: 16px;
    line-height: 0;
    position: relative;
    top: 26px;
  
}


/* 밑에 공지사항들 */
.linkButton {
    background: none;
    border: none;
    color:blue;
    text-decoration: underline;
    cursor: pointer;
    font-size: inherit;
    /* 텍스트와 같은 크기로 설정 */
    padding: 0;
    /* 기본 패딩 제거 */
}