/* 중간 --------------------- */
.mainContent {
    flex: 1;
    padding: 10px;
    display: flex;
    flex-direction: column;
    margin-left: 250px;
}

.navbar,
.subNavbar {
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

.navbar button {
    padding: 10px;
    border: 1px solid rgb(104, 103, 103);
    cursor: pointer;
    background-color: rgb(212, 216, 243);
    border-radius: 15px 15px;
    font-weight: bold;
    font-size: 15px;
    color: rgb(104, 103, 103);
    margin: 0 10px;
    width: 150px;
}

.navbar button.application {
    background: #637ABF;
    color: white;
}

.subNavbar button {
    padding: 0px 130px;
    width:360px;
    height: 40px;
    border: 1px solid rgb(104, 103, 103);
    cursor: pointer;
    background-color: rgb(212, 216, 243);
    border-radius: 10px 10px;
    font-weight: bold;
    font-size: 15px;
    color: rgb(104, 103, 103);
    margin: 0px -10px;

}

.subNavbar button.selected {
    background-color: #637ABF;
    /* 파란색 배경 */
    color: white;
    /* 하얀색 글자 */
    transform: translateY(-1px);
    /* 앞으로 튀어나오게  */
}

.subNavbar button:last-child {
    margin-right: 0;
}